.finish-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(240,95,16);
    background: radial-gradient(circle, rgba(240,95,16,1) 0%, rgba(224,0,0,1) 100%); 
}

.prepare-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(42,189,255);
    background: radial-gradient(circle, rgba(42,189,255,1) 0%, rgba(132,229,255,1) 100%); 
}