.server {
    padding-left: 44px; 
    padding-right: 64px;
    width: 100vw;
    display: flex; 
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    min-width: 900px;
}

.server-entry {
    display: flex; 
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    margin-bottom: 20px;

}


.server-row {
    width: 100%;
}

.buttons {
    display: flex; 
    flex-direction: column; 
    justify-content: start;
    gap: 10px;
}

.insert-line-btn {
    background-color: rgb(84, 77, 89);
}

.button-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.server-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    border: none;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 10px;
    color: white;
    -webkit-text-fill-color: white;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.server-header * {
    margin: 0;
}

.server-arrow {
    height: 20px;
    width: auto;
}
.server-arrow.not-visible {
    transform: rotate(180deg);
}