.shell {
    width: 100%;
    border: 2px solid #fff;
    padding: 10px;
    background-color: #000;
    min-height: 100px;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shell * {
    color: #0f0;
}

.output{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.output > *{
    color: white;
    display: inline;
    max-width: 100%; 
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 18px;
}

.output-line {
    width: fit-content;
    vertical-align: middle;
}

.shell-input {
    background-color: black;
    border: none;
    outline: none;
    font-size: 18.4px;
}

.lastLine {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
    color: #0f0;
}

.lastLine > *{
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}





.command{
    width: fit-content;
}


.command-output {
    display: flex;
    flex-direction: column;
}

.command-output > *{
    width: fit-content;
}

.command-cwd {
    width: fit-content;
}


