.terminal {
    flex: 1;
    display: flex; 
    justify-content: center; 
    align-items: start; 
    overflow: hidden;
}
.terminal-container {
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: flex-end; 
    overflow: hidden;
    min-height: -webkit-min-content;
    flex: 1;
}

.shell-headers {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 5px;
}

.shell-headers-content {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    white-space: nowrap;
    position: relative;
    left: 0px;
}

.shell-header {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 150px;
    height: 15px;
    background-color: #888;
    border-radius: 20px;
    text-align: center;
    line-height: 15px;
    user-select: none;
    font-size: 12px;
}

.shell-header.shell-plus{
    width: 30px;
    flex-grow: unset;
    flex-basis: unset;
}

.shell-header.active {
    background-color: #b2b3c4;
}

.shell-header:hover:not(.active) {
    background-color: #696969;
}


.cancel-btn {
    width: 80px;
    height: 36px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #696969;
}

.scroll-arrow {
    color: white;
    height: 100%;
    text-align: center;
    line-height: 15px;
    border-radius: 3px;
    padding: 0px 8px;
}

.scroll-arrow:hover {
    background-color: #696969;

}

.connection-btn {
    background-color: black;
}





/* Terminbal Connect */
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

.hacker-body {
    position: relative;
    border: #b2b3c4 5px solid;
    border-radius: 15px;
    margin-top: 20px;
    max-width: 600px;
  box-sizing: border-box;
  flex: 1;
  align-self: stretch;
  min-height: 10vh;
  background-color: #000000;
  background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif"); /* noise */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1ex rgba(51, 255, 51, 1),
      0 0 2px rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.noise {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .02;
}

.connect-btn {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 4vh;
    color: white;
    -webkit-text-fill-color: white;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

